In [48]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv('Reviews.csv')

In [49]:
df.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568454 entries, 0 to 568453
Data columns (total 10 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Id                      568454 non-null  int64
 1   ProductId               568454 non-null  object
 2   UserId                  568454 non-null  object
 3   ProfileName             568428 non-null  object
 4   HelpfulnessNumerator    568454 non-null  int64
 5   HelpfulnessDenominator  568454 non-null  int64
 6   Score                   568454 non-null  int64
 7   Time                    568454 non-null  int64
 8   Summary                 568427 non-null  object
 9   Text                    568454 non-null  object
dtypes: int64(5), object(5)
memory usage: 43.4+ MB

In [54]:
df.Summary.head()

0    Good Quality Dog Food
1        Not as Advertised
2    "Delight" says it all
3           Cough Medicine
4              Great taffy
Name: Summary, dtype: object

In [56]:
df.Text.head()

0    I have bought several of the Vitality canned d...
1    Product arrived labeled as Jumbo Salted Peanut...
2    This is a confection that has been around a fe...
3    If you are looking for the secret ingredient i...
4    Great taffy at a great price.  There was a wid...
Name: Text, dtype: object

In [58]:
!pip install textblob

Requirement already satisfied: textblob in /opt/anaconda3/lib/python3.12/site-packages (0.19.0)
Requirement already satisfied: nltk>=3.9 in /opt/anaconda3/lib/python3.12/site-packages (from textblob) (3.9.1)
Requirement already satisfied: click in /opt/anaconda3/lib/python3.12/site-packages (from nltk>=3.9->textblob) (8.1.7)
Requirement already satisfied: joblib in /opt/anaconda3/lib/python3.12/site-packages (from nltk>=3.9->textblob) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in /opt/anaconda3/lib/python3.12/site-packages (from nltk>=3.9->textblob) (2024.9.11)
Requirement already satisfied: tqdm in /opt/anaconda3/lib/python3.12/site-packages (from nltk>=3.9->textblob) (4.66.5)

In [60]:
import nltk
#nltk.download('wordnet')

In [ ]:
import pandas as pd
from nltk.corpus import stopwords
from textblob import TextBlob, Word
#df = pd.DataFrame({'Text': ["This is an example sentence! It's great, isn't it?"]})
df['Text'] = df['Text'].apply(lambda x: " ".join(x.lower() for x in x.split()))
df['Text'] = df['Text'].str.replace(r'[^\w\s]', '', regex=True)
stop = set(stopwords.words('english'))
df['Text'] = df['Text'].apply(lambda x: " ".join(word for word in x.split() if word not in stop))
df['Text'] = df['Text'].apply(lambda x: str(TextBlob(x).correct()))
df['Text'] = df['Text'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
print(df['Text'].head())

In [ ]:
reviews = df
reviews.dropna(inplace=True)
reviews.Score.hist(bins=5,grid=False)
plt.show()
print(reviews.groupby('Score').count().id)

In [46]:
df.head()

                         Text
0  example sentence great isn

In [ ]:
score_1 = reviews[reviews['Score']==1].sample(n=18)
score_2 = reviews[reviews['Score']==2].sample(n=18)
score_3 = reviews[reviews['Score']==3].sample(n=18)
score_4 = reviews[reviews['Score']==4].sample(n=18)
score_5 = reviews[reviews['Score']==5].sample(n=18)

In [ ]:
dateset.reviews_sample = pd.concat([score_1,score_2,score_3,score_4,score_5],axis=0)
reviews_sample.reset_index(drop=True,inplace=True)
print(reviews_sample.groupby('Score').count().id)

In [ ]:
reviews_str = " ".join(reviews_sample["Summary"].to_numpy())
reviews_sample.Summary.str.cat()
wordcloud = WordCloud(background_color='white').generate(reviews_str).plt.figure(figsize=(10,10))
plt.imshow(wordcloud,interpolation='bilinear')
plt.axis('off')
plt.show()

In [ ]:
negative_reviews=reviews_sample[reviews_sample['Score'].isin([1,2])]
positive_reviews=reviews_sample[reviews_sample['Score'].isin([4,5])]
negative_reviews_str=negative_reviews.Summary.str.cat()
positive_reviews_str=positive_reviews_Summary.str.cat()

In [ ]:
wordcloud_negative=wordcloud(background_color='white')\
.generate(negative_reviews_str)
wordcloud_positive=wordcloud(background_color='white')\
.generate(negative_reviews_str)
fig=plt.figure(figsize=(10,10))
ax1=fig.add_subplot(211)
ax1.imshow(wordcloud_negative,interpolation='bilinear')
axl.axis("off")
ax1,set_title('Reviews with negative Scores',fontsize=20)
ax2=fig.add_subplot(212)
ax2.imshow(wordcloud_positive,interpolation='bilinear')
ax2.axis("off")
ax2.set_title('Reviews with Postive Score',fontsize=20)
plt.show()

In [ ]:
!pip install vaderSentiment

In [ ]:
import seabrn as sns
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
plt.style.use('fivethirtyeight')
cp = sns.color_palette()
analyzer = SentimentAnalyzer()
emptyline=[]
for row in df['Text']:
    vs = analyzer.polarity_scores[row]
    emptyline.append(vs)

In [ ]:
df_sentiments = pd.DataFrame(emptyline)
df_sentiments.head()

In [ ]:
df_c = pd.concat([df.reset_index(drop=True),df_sentiments],axis=1)
df_c.head(3)

In [ ]:
df_c['Sentiment'] = np.where(df_c['compound'].=0,'Postive','Negative')
df_c.head(3)

In [ ]:
result = df_c['Sentiment'].value_counts()
print(result)
result.plot(king='bar',rot=30)